.env
infra/deploy_local.example.env
infra/Pulumi.*.yaml
infra/*.egg-info/
__pycache__/
*.py[cod]
*$py.class
.venv
.vscode
*.log
acceptance-tests/docker-compose.logs.txt
postgres_data/
ollama_data/
wiki/
.monocle/
acceptance-tests/docker-compose.logs.txt
acceptance-tests/docker-compose.logs.txt
