.env
infra/deploy_local.example.env
infra/Pulumi.*.yaml
infra/*.egg-info/
__pycache__/
*.py[cod]
*$py.class
.venv
.vscode
*.log
bonsai_sensei/tests/acceptance/docker-compose.logs.txt
postgres_data/
ollama_data/
/wiki/
/transcripts/
photos/
photos*/

.monocle/
