.env
infra/deploy_local.example.env
__pycache__/
*.py[cod]
*$py.class
.venv
.vscode
*.log
acceptance-tests/docker-compose.logs.txt
postgres_data/
ollama_data/
.monocle/
acceptance-tests/docker-compose.logs.txt